@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}


.aboutStyle{
    padding: 70px 0 0 20px;
}

.contactStyle{
    padding: 70px 0 0 20px;
}

/* form style */
.form-card{
    background-color: rgba(0, 0, 0, 0.529);
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    padding: 30px;
    margin: 80px 0 80px 0;
    border-radius: 3px;
    color: #fff;
    margin-left: 50px;
}

.formBoxFields{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.form-box{
    background: url("../images/registrationBG.jpg");
    background-position: center;
    background-size: cover;
    object-fit: fill;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}


.form-box-login{

    background: url("../images/loginBG.jpg");
    background-position: center;
    background-size: cover;
    object-fit: fill;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.textDesign{
   color:  rgba(0,0,0,0.87)
}

.textDesignForm{
    color: #fff;
}

/* end form style */