{% extends 'main/core/base.html' %}

{% block content %}

 <!-- ======= About Us Section ======= -->
 <section id="about" class="about">
    <div class="container aboutStyle" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            PharmaEdu was found in 2021 as a distance learning portal where people could find free easily accessible courses and resources prepared for the pharmaceutical and biotech industry.
            But we decided that you deserve more!
            
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Learn and Earn online pharma certificate</li>
            <li><i class="ri-check-double-line"></i> Read Pharma articles & explore pharma for FREE</li>
            <li><i class="ri-check-double-line"></i> Track your learning path and learn anywhere at anytime</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            You inspired us to embrace an ever-evolving strategic plan for change. We developed our own learning management system that would give access to our full portfolio of certificate and free GxP courses and would enable people, all over the world, to gain knowledge in a convenient and trouble-free way. Because everything we do is driven by one simple thing: we strive to help you achieve your best!
            No matter whether you are a student, looking to start a successful career in the industry, a research institute or a hospital, trying to provide the most cost-effective solution to its members, or a multi-national pharma company, trying to implement a central solution for all its offices, we want to engage with you in a long-lasting relationship.            
            Because we want to leave a mark. Every day. With you.
            Welcome to Pharma Lessons Ltd.
          </p>
          <a href="#" class="btn-learn-more">Contact</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>Getting Started and FAQs</h3>
            <p>
                Helpful articles for when you're new to PharmaEdu
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> How to register for a PharmaEdu account <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    When you don’t have an account and you click to Account > Register from Navigation Bar and Select a course in a course listings page or description page.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> How to find a course you've joined on PharmaEdu<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Login to your account or Register if you are new to PharmaEdu. Then go to your Dashboard and find My Courses.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> How to start a course on PharmaEdu <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Go to Courses page from the Navigation Bar and choose a course from the list. Click on the course and Join Course.
                  </p>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

{% endblock content  %}