{% extends 'main/core/base.html' %}
{% load static %}

{% block content  %}

  <!-- <h2 class="text-center mt-3">Welcome to Pharma</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3>All Users</h3>
      <div class="card-deck">
      {% if allUsers %}
      {% for users in allUsers %}
      <div class="card m-2" style="max-width: 20rem;">
        <div class="card-header bg-dark text-white">
          {{users.first_name}} {{users.second_name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Gender - {{users.get_gender_display}}</li>
          <li class="list-group-item">Email - {{users.email}}</li>
          <li class="list-group-item">Username - {{users.username}}</li>
          <li class="list-group-item">Mobile - {{users.phone_number}}</li>
          <li class="list-group-item">Qualification - {{users.get_qualification_display}}</li>
          <li class="list-group-item">Date of birth - {{users.date_of_Birth}}</li>
        </ul>
      </div>

      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</div> -->


<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Get Pharma Certified Anytime Anywhere</h1>
        <h2>Explore best practise in pharmacy, and learn how to start a career as a pharmacist, with these online pharmacy courses from PharmaEdu</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="/about/" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="{% static 'main/style/assets/img/pharma.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div> 

</section><!-- End Hero -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Learn pharma skill that you can use today in under 2 hours through an interactive experience guided by a subject matter expert. Access everything you need right in your browser and complete your project confidently with step-by-step instructions.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Drugs</a></h4>
              <p>Drugs, drug use, drug policy and healthi</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Herbal Medicine</a></h4>
              <p> role of herbal medicines in healthcare overall as well as your potential role.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Covid Training</a></h4>
              <p>COVID-19 Training for Healthcare Workers and common presenting symptoms. </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Introduction to Healthcare</a></h4>
              <p>Issues you may encounter in efforts to improve healthcare delivery and the healthcare system</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


{% endblock content  %}