{% extends 'main/core/base.html' %}

{% load crispy_forms_tags %}

{% crispy form form.helper %}

{% block content %} 
<div class="form-box">
<div class="container-fluid contactStyle">
    <div class="row formBoxFields">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="form-card">
                <h2 class="text-center textDesignForm">Register</h2>
                <p class="text-center" style="color: #bcbcbc;">Create your account. It's free and only takes a minute.</p>
                <br>
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                <br>
                <hr>
            <div class="row text-center">
                <div class="col-md-12">
                  <p>Already have an account? <a href="/login/">Sign in</a> </p>
                  <p>{{formD}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}